
<div class="inner_container">
  <div class="category">
  <h2><a href="/cat/<%= @category.name %>">> <%= @category.name%></a></h2>
  </div>

  <div class="list">
    <ul>
      <% @category.posts.each do |post| %>
        <li class="item"> <a href= "/cat/<%= @category.name %>/<%= post.id %>"><%= post.date %> <%= post.title %></a> </li>
      <% end %>
    </ul>
  </div>
</div>
