

  <h1><a href="/">CraigsList Jr.</a></h1>
  <h3><a href="/cat/<%=@category.name%>"><%= @category.name%></a></h3>
  <h4><%= @post.title  %></h4>
  <div>
    <p>
    Price: <%= @post.price %>
    </p> 
  </div>
  <div>
    <p>
      <%= @post.content %>
    </p>
  </div>

 
