<div class="category">
<h2><a href="/cat/<%=@category.name%>">> <%= @category.name%></a></h2>
</div>

<h3><%= @post.title  %></h3>
<div>
  <p>
  Price: <%= @post.price %>
  </p> 
</div>
<div>
  <p>
    <%= @post.content %>
  </p>
</div>

 
